.barra-nav {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    margin: 8px;
    background-color: var(--bg-light);
    border-radius: 16px;
}

.barra-nav h2 {
    text-align: center;
}

.opcion-nav {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.75em 3em 0.75em 1em;
    border-radius: 8px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.opcion-nav h3 {
    font-size: 1em;
}

@media only screen and (min-width: 768px) {
    .barra-nav {
        padding: 2em;
    }
}

.contenido {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: 0.3s;
}

@keyframes giro180 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes mostrarNav {
    from { transform: translateY(0%); }
    to { transform: translateY(100%); }
}

.giro180 {
    animation: 0.3s 1 forwards giro180;
}

.giro0 {
    animation: 0.3s 1 reverse giro180;
}

.nav-mostrada {
    animation: 0.3s 1 forwards mostrarNav;
}

.nav-oculta {
    animation: 0.3s 1 reverse mostrarNav;
}