:root {
    --bg: #1E1E2C;
    --bg-light: #2D2D44;
    --primary: #33E1ED;
    --text: white;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #1E1E2C;
        --bg-light: #2D2D44;
        --primary: #33E1ED;
        --text: white;
    }

    html {
        color-scheme: dark;
    }

    body {
        color: var(--text);
        background: var(--bg);
    }
}

@keyframes float-up {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.float-up {
    animation: 0.3s 1 forwards float-up;
}